$primary_color:#272727;
$secondary_color: #ff652f;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    height: auto;
}

@mixin space_between_small {
    margin-top:.58em;
}

@mixin transition_ease {
    transition: all 500ms ease-in-out;
}

@function set_text_color($color){
    @if (lightness($color) > 40%){
        @return #000;
    } @else {
        @return #fff;
    }
}

@mixin  media_md {
    @media screen and (min-width:768px){
        @content;
    }
}


@mixin  media_lg {
    @media screen and (min-width:1024px){
        @content;
    }
}


@mixin  media_xl {
    @media screen and (min-width:1600px){
        @content;
    }
}