@mixin flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.menu_btn{
    position: absolute;
    z-index: 5;
    top:1em;
    right: 1em;
    width: 28px;
    height: 20px;
    cursor:pointer;
    background-color: transparent;

    &_burger{
        position: absolute;
        top: .4em;
        right: 0;
        width: 100%;
        height: 3px;
        background-color: set_text_color($primary_color);
        @include transition_ease;

        &::after{
            content: ""; 
            position: absolute;
            top: 8px;
            left: 0;
            width: 80%;
            height: 3px;
            background-color: set_text_color($primary_color);
            @include transition_ease;

        }

        &::before{
            content: ""; 
            position: absolute;
            top: -8px;
            right: 0;
            width: 100%;
            height: 3px;
            background-color: set_text_color($primary_color);
             @include transition_ease;


        }

        &.open{
            transform: rotate(720deg);
            background-color: transparent;

            &::after{
                width: 100%;
                transform: rotate(45deg);
            }

            &::before{
                transform: rotate(-45deg) translate(-10px, 10px)
            }
        }
    }
}


nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $primary_color;
    visibility: hidden;
    transform: translateY(-100%);
    @include transition_ease;
    @include flexColumn();

    &.open{
        visibility: visible;
        transform: translateY(0);
    }

    & a{
        &:hover{
            color:$secondary_color
        }

        &.active{
            color: $secondary_color;
        }
    }

    ul{
        list-style-type: none;
        @include flexColumn();
       

        li{
            font-size: .9rem;
            margin-bottom: .9em;
            transform: translateX(100vw);
            @include transition_ease;

             &.open{
             transform: translateX(0);
            }
        }
    }
}

@for $i from 1 through 4 {
    .menu_nav_item:nth-child(#{$i}){
        transition-delay: ($i * 0.1s) + 0.15s;
        color: black;
    }
}