@mixin flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $primary_color;
    visibility: hidden;
    transform: translateY(-100%);
    @include transition_ease;
    @include flexColumn();

    &.open{
        visibility: visible;
        transform: translateY(0);
    }

    & a{
        &:hover{
            color:$secondary_color
        }

        &.active{
            color: $secondary_color;
        }
    }

    ul{
        list-style-type: none;
        @include flexColumn();
       

        // &.open{
        //  transform: translateX(0);
        // }

        li{
            font-size: x-large;
            margin-bottom: .9em;
            transform: translateX(100vw);
            @include transition_ease;

             &.open{
             transform: translateX(0);
            }
        }
    }
}

@for $i from 1 through 4 {
    .menu_nav_item:nth-child(#{$i}){
        transition-delay: ($i * 0.1s) + 0.15s;
        color: black;
    }
}