* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.home {
  height: 100%;
  padding-top: 35vh;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background-image: url("../img/model-1.jpg"), -webkit-gradient(linear, right top, left top, from(rgba(39, 39, 39, 0.4)), to(rgba(39, 39, 39, 0.9)));
  background-image: url("../img/model-1.jpg"), linear-gradient(to left, rgba(39, 39, 39, 0.4), rgba(39, 39, 39, 0.9));
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

.home h2 {
  font-size: 1.3rem;
}

.home_name {
  font-size: 3.5rem;
  font-weight: 600;
  padding-bottom: .5em;
  border-bottom: solid 1px #fff;
  margin-bottom: .2em;
}

.home_name_last {
  color: #ff652f;
  font-weight: 800;
}

.menu_btn {
  position: absolute;
  z-index: 5;
  top: 1em;
  right: 1em;
  width: 28px;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
}

.menu_btn_burger {
  position: absolute;
  top: .4em;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.menu_btn_burger::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 80%;
  height: 3px;
  background-color: #fff;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.menu_btn_burger::before {
  content: "";
  position: absolute;
  top: -8px;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.menu_btn_burger.open {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background-color: transparent;
}

.menu_btn_burger.open::after {
  width: 100%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu_btn_burger.open::before {
  -webkit-transform: rotate(-45deg) translate(-10px, 10px);
          transform: rotate(-45deg) translate(-10px, 10px);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #272727;
  visibility: hidden;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.open {
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

nav a:hover {
  color: #ff652f;
}

nav a.active {
  color: #ff652f;
}

nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  font-size: .9rem;
  margin-bottom: .9em;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

nav ul li.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu_nav_item:nth-child(1) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
  color: black;
}

.menu_nav_item:nth-child(2) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
  color: black;
}

.menu_nav_item:nth-child(3) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
  color: black;
}

.menu_nav_item:nth-child(4) {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
  color: black;
}

.about_bio_image {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 50vh;
  padding-bottom: 2em;
  background-image: url("../img/model-1.jpg"), -webkit-gradient(linear, right top, left top, from(rgba(39, 39, 39, 0.4)), to(rgba(39, 39, 39, 0.9)));
  background-image: url("../img/model-1.jpg"), linear-gradient(to left, rgba(39, 39, 39, 0.4), rgba(39, 39, 39, 0.9));
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about_bio {
  width: 85%;
  line-height: 1.3;
}

.about_bio h2 {
  margin-bottom: .5em;
}

.about footer {
  font-size: .9rem;
  color: #999999;
  -webkit-transform: rotate(90deg) translate(-5rem, -4.7rem);
          transform: rotate(90deg) translate(-5rem, -4.7rem);
}

.jobs {
  padding: 0 1.2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 5fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 5fr));
  gap: 1.75em;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  justify-items: center;
  width: 100%;
}

.jobs .job {
  background-color: #414141;
  padding: 1em;
  border-bottom: solid 3px #ff652f;
  width: 100%;
  border-radius: .5em;
  max-width: 650px;
}

.jobs .job > * + * {
  margin-top: .58em;
}

.jobs .job h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.jobs .job h3 {
  font-size: 1.1rem;
  font-weight: 300;
}

.jobs .job h6 {
  font-weight: 300;
  color: #e6e6e6;
}

.jobs .job p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
  font-size: .94rem;
  color: #e6e6e6;
}

main {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.project_bio_image {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 35vh;
  padding-bottom: 2em;
  background-image: url("../img/model-1.jpg"), -webkit-gradient(linear, right top, left top, from(rgba(39, 39, 39, 0.4)), to(rgba(39, 39, 39, 0.9)));
  background-image: url("../img/model-1.jpg"), linear-gradient(to left, rgba(39, 39, 39, 0.4), rgba(39, 39, 39, 0.9));
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.project_bio_image h1 {
  font-size: 2rem;
}

.project_bio {
  width: 85%;
  line-height: 1.3;
}

.project_bio h2 {
  margin-bottom: .5em;
}

.project footer {
  font-size: .9rem;
  color: #999999;
  -webkit-transform: rotate(90deg) translate(-5rem, -4.7rem);
          transform: rotate(90deg) translate(-5rem, -4.7rem);
}

.project_items {
  padding: 0 1.2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 5fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 5fr));
  gap: 1.75em;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  justify-items: center;
  width: 100%;
}

.project_item {
  position: relative;
  background-color: #343434;
  padding: 1em;
  width: 100%;
  height: auto;
  border-radius: .5em;
  max-width: 650px;
  text-align: center;
}

.project_item > * + * {
  margin-top: .58em;
}

.project_item::after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  background-color: rgba(255, 101, 47, 0.9);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.project_item:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.project_item:hover .project_btn a {
  opacity: 1;
}

.project_item .project_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 55%;
}

.project_item .project_btn a {
  color: #e6e6e6;
  opacity: 0;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.project_item .project_btn a:hover {
  color: #1a1a1a;
}

.contact {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background-image: url("../img/model-1.jpg"), -webkit-gradient(linear, right top, left top, from(rgba(39, 39, 39, 0.4)), to(rgba(39, 39, 39, 0.9)));
  background-image: url("../img/model-1.jpg"), linear-gradient(to left, rgba(39, 39, 39, 0.4), rgba(39, 39, 39, 0.9));
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

.contact h2 {
  position: absolute;
  top: 25%;
  font-size: 2.5rem;
  margin-bottom: 1em;
}

.contact_list > * + * {
  margin-top: .98em;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 19px;
  }
  .menu_btn {
    display: none;
  }
  nav {
    position: relative;
    width: 100%;
    height: auto;
    visibility: visible;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: transparent;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  nav ul {
    width: 60%;
    max-width: 400px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav ul li {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .about_bio_image {
    height: 45vh;
  }
  .contact {
    padding: 0 .5em;
  }
  .contact_list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .contact_list > * + * {
    margin-top: 0;
  }
}

body {
  background-color: #272727;
  color: #fff;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

h1, h2, h3 {
  font-weight: 400;
}

a {
  color: #fff;
  text-decoration: none;
}

.text_secondary {
  color: #ff652f;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1em;
}

main {
  height: 100%;
  width: 100%;
}

main .social_icons {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

main .social_icons a {
  padding: 0.4em;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

main .social_icons a:hover {
  color: #ff652f;
}

footer {
  font-size: 1rem;
  color: #fff;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
}
/*# sourceMappingURL=main.css.map */